@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background: #F5DEB3;
    font-family: inter;
}

*{
 transition: all .2s;
}

#container{
    width: 65vw;
    background-color: #F4A460;
    color: white;
    text-align: center;
    padding: 10px;

    border: solid 3px rgba(0, 0, 0, 0.036);
    border-radius: 30px;
    flex-wrap: wrap;

    -webkit-box-shadow: 3px 2px 14px 0px rgba(242,155,155,1);
    -moz-box-shadow: 3px 2px 14px 0px rgba(242,155,155,1);
    box-shadow: 3px 2px 14px 0px rgba(242,155,155,1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    font-size: 17px;
}

.btn{
    border: none;
    cursor: pointer;
    color: whitesmoke;
    font-size: 18px;
    background-color: #D2691E;
    border: solid 0.1px rgba(0, 0, 0, 0.072);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.587);
    margin-left: 10px;
}
.btn:hover{
    background-color: #b25817;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.587);
}

input{
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 25%;
    margin-left: 5px;
}
input:focus, input:focus, select:focus, input:hover {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(237,61,61,1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(237,61,61,1);
    box-shadow: 0px 0px 14px 0px rgba(237,61,61,1);

    border: 0 none;
    outline: 0;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.title-input{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.descreve-input{
    font-size: 15px;
}

#itens{
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
}
#aviso{
    margin-top: 10px;
    color: #FF0000;
}
#msg{
    margin-top: 10px;
}

a{
    color: rgb(255, 255, 255);
}

footer{
    bottom: 5px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

select{
    padding: 2px;
    border-radius: 10px;
    font-size: 20px;
}