body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(44, 44, 153) 20%, rgba(25,126,147,1) 1110%);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#container{
    width: 65vw;
    background-color: #07e6ff1a;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    padding: 10px;

    border: solid 1px rgba(0, 0, 0, 0.036);
    border-radius: 30px;
    box-shadow: 10px 15px 10px 5px rgba(0, 0, 0, 0.524);
    flex-wrap: wrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p{
    font-size: 17px;
}

.btn{
    border: none;
    cursor: pointer;
    color: whitesmoke;
    font-size: 15px;
    background-color: #150e77;
    border: solid 0.1px rgba(0, 0, 0, 0.072);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.587);
    margin-left: 5px;
}

input{
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 25%;
    margin-left: 5px;
}
.title-input{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.descreve-input{
    font-size: 15px;
}

#itens{
    margin-bottom: 10px;
    text-align: center;
}
#aviso{
    margin-top: 10px;
}
#msg{
    margin-top: 10px;
}

a{
    color: rgb(255, 255, 255);
}

footer{
    bottom: 5px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

select{
    padding: 2px;
    border-radius: 10px;
    font-size: 15px;
}